@if (selectLanguage$ | async; as language){
    <app-main-content
            [language]="language"
            [headerText]="'Bid Summaries' | translate : language.lang"
            [noDataMessage]="'There is no data to show' | translate : language?.lang"
            [noData]="bidSummaries.length === 0"
    >
        <div headerActions >
            @if (selectUser$ | async; as userData) {
                @if (all) {
                    <button
                            (click)="getMyRequests(userData.id)"
                            class="w-auto min-w-40 p-4 my-1 font-medium text-primary  bg-white ms-3 hover:bg-primary/80 hover:text-white border-primary border "
                    >
                        {{ "My Bid Summaries" | translate : language.lang }}
                    </button>

                } @else {
                    <button
                            (click)="getAll()"
                            class="w-auto min-w-40 p-4 my-1 font-medium text-primary  bg-white ms-3 hover:bg-primary/80 hover:text-white border-primary border "
                    >
                        {{ "All" | translate : language.lang }}
                    </button>
                }


            }
            <button
                    [routerLink]="['/dashboard/purchases/bid-summaries/create']"
                    class="w-auto p-4 my-1 font-medium text-white  bg-secondary ms-3 hover:bg-secondary/70 hover:border-secondary/70 border border-secondary"
            >
                {{ "Generate Bid Summary" | translate : language.lang }}
            </button>
        </div>
        <div headerSlot>
            <app-search-input
                    [placeholder]="'Search' | translate : language?.lang"
                    (searchChanged)="onSearchChanged({search: $event})"
                    [value]="searchName"
            />
        </div>
        @if (bidSummaries.length > 0) {

            <div contentWithData class="relative w-full h-full p-8 min-h-max">

                <div class="relative my-4 overflow-x-auto overflow-y-auto">
                    <table class="w-full text-sm text-left rtl:text-right">
                        <thead class="text-xs uppercase text-secondary/50">
                        <tr>
                            @for (col of tableColumns; track $index) {
                                <th scope="col" class="px-6 py-3 min-w-40">
                                    {{ col | translate : language.lang }}
                                </th>
                            }
                        </tr>
                        </thead>
                        <tbody>
                            @for (item of bidSummaries; track item.id) {

                                <tr
                                        [routerLink]="'' + item.id"
                                        class="bg-white border-b border-secondary/15 hover:bg-secondary/5 text-secondary/80 cursor-pointer"
                                >
                                    <td class="px-6 py-4">
                                        {{ item.internalRef }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ item.rfpqNumber }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ item.number }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ item.createdAt | date : "dd/MM/yyyy" }}
                                    </td>

                                    <td class="px-4 py-2 ">
                                        <div [class]="'px-3 py-1.5 text-center w-fit ' + (item.status == 'COMPLETED'? ' bg-success/20 ' : item.status == 'PROCESSING'? ' bg-blue-200 ' : item.status == 'PENDING'? ' bg-primary/30 ' :  ' bg-secondary/10 ')">{{ item.status }}</div>
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ item.currentPhase }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ item.user.username }}
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <!--            If there are more than one page -->

                @if (bidSummaryResponse) {
                    <app-pagenation
                            [language]="language"
                            [response]="bidSummaryResponse"
                            [currentPage]="currentPage"
                            [pageArray]="generatePageArray()"
                            [pageable]="pageable"
                            (onPageChanged)="onPageChanged($event)"
                    />
                }
            </div>
        }
    </app-main-content>
}