@if (selectLanguage$ | async; as language) {
    @if (materialRequest) {
        <app-main-content
                [language]="language"
                [headerText]="materialRequest.number"
                [noDataMessage]="'There is no data to show' | translate : language?.lang"
                [noData]="false"
                [loader]="loader$ | async"
        >
            <div headerActions>


                @if (materialRequest.status == "CANCELED") {
                    <button
                            class="w-40 p-4 my-1 font-medium text-mustard  bg-white ms-3 hover:bg-mustard/70 border-mustard  border hover:text-white"
                            (click)="updateMaterialRequestStatus('DRAFT')"
                    >
                        {{ "DRAFT" | translate : language.lang }}
                    </button>
                } @else   if (materialRequest.status == "DRAFT") {
                    <!--            todo-->
                    <button
                        (click)="updateMaterialRequestStatus('CANCELED')"
                            class="w-40 p-4 my-1 font-medium text-danger  bg-white ms-3 hover:bg-danger/70 border-danger border hover:text-white"
                    >
                        {{ "Cancel " | translate : language.lang }}
                    </button>

                    <button
                            class="w-40 p-4 my-1 font-medium text-mustard  bg-white ms-3 hover:bg-mustard/70 border-mustard  border hover:text-white"
                            (click)="updateMaterialRequestStatus('PENDING')"
                    >
                        {{ "Confirm" | translate : language.lang }}
                    </button>
                    <button
                            [routerLink]="['edit',materialRequest.id]"
                            class="w-40 p-4 my-1 font-medium text-white  bg-secondary ms-3 hover:bg-secondary/70 border-secondary border"
                    >
                        {{ "Edit " | translate : language.lang }}
                    </button>
                } @else   if (materialRequest.status == "PENDING") {
                    <!--            todo-->
                    <button

                            class="w-40 p-4 my-1 font-medium text-danger  bg-white ms-3 hover:bg-danger/70 border-danger border hover:text-white"
                    >
                        {{ "Cancel " | translate : language.lang }}
                    </button>
                    <button
                            class="w-40 p-4 my-1 font-medium text-mustard  bg-white ms-3 hover:bg-mustard/70 border-mustard  border hover:text-white"
                            (click)="updateMaterialRequestStatus('PROCESSING')"
                    >
                        {{ "Process" | translate : language.lang }}
                    </button>
                    <button
                            [routerLink]="['edit',materialRequest.id]"
                            class="w-40 p-4 my-1 font-medium text-white  bg-secondary ms-3 hover:bg-secondary/70 border-secondary border"
                    >
                        {{ "Edit " | translate : language.lang }}
                    </button>
                }


            </div>


            <div contentWithData class="relative w-full h-full p-8 min-h-max">
                <div class="w-full flex items-center justify-end gap-1">
                    @if (materialRequest.status == "CANCELED") {
                        <div [class]="'py-2 px-4 border rounded-e-full border-s-0 w-32 text-center'+ ( materialRequest.status == 'CANCELED' ?' border-primary/50 text-white bg-primary/70 ' :' border-secondary/30 text-secondary/30 ')">{{ "CANCELED " | translate : language.lang }}</div>
                    } @else {
                        <div [class]="'py-2 px-4 border rounded-e-full border-s-0 w-32 text-center'+ ( materialRequest.status == 'DRAFT' ?' border-primary/50 text-white bg-primary/70 ' :' border-secondary/30 text-secondary/30 ')">{{ "DRAFT " | translate : language.lang }}</div>
                        <div [class]="'py-2 px-4 border rounded-e-full border-s-0 w-32 text-center'+ ( materialRequest.status == 'PENDING' ?' border-primary/50 text-white bg-primary/70 ' :' border-secondary/30 text-secondary/30 ')">{{ "PENDING " | translate : language.lang }}</div>
                        <div [class]="'py-2 px-4 border rounded-e-full border-s-0 w-32 text-center'+ ( materialRequest.status == 'PROCESSING' ?' border-primary/50 text-white bg-primary/70 ' :' border-secondary/30 text-secondary/30 ')">{{ "PROCESSING " | translate : language.lang }}</div>
                        <div [class]="'py-2 px-4 border rounded-e-full border-s-0 w-32 text-center'+ ( materialRequest.status == 'COMPLETED' ?' border-primary/50 text-white bg-primary/70 ' :' border-secondary/30 text-secondary/30 ')">{{ "COMPLETED " | translate : language.lang }}</div>
                    }
                </div>

                <div class=" w-full mt-6 flex gap-4 items-start justify-start">
                    <div class="w-full max-w-md gap-1">
                        <div class="flex items-center justify-start  gap-2">
                            <div class="w-40 font-semibold ">{{ "Date" | translate : language.lang }}</div>
                            <div class="w-full ">{{ materialRequest.date }}</div>
                        </div>
                        <div class="flex items-center justify-start  gap-2">
                            <div class="w-40 font-semibold ">{{ "Requested by" | translate : language.lang }}</div>
                            <div class="w-full ">{{ materialRequest.userDto.username }}</div>
                        </div>
                        <div class="flex items-center justify-start  gap-2">
                            <div class="w-40 font-semibold ">{{ "Store" | translate : language.lang }}</div>
                            <div class="w-full ">{{ language.lang == 'ar' ? materialRequest.store.nameAr : materialRequest.store.nameEn }}</div>
                        </div>
                    </div>
                    <div class="w-full max-w-md gap-1">
                        <div class="flex items-center justify-start  gap-2">
                            <div class="w-40 font-semibold ">{{ "Internal Ref" | translate : language.lang }}</div>
                            <div class="w-full ">{{ materialRequest.internalRef }}</div>
                        </div>
                        <div class="flex items-center justify-start  gap-2">
                            <div class="w-40 font-semibold ">{{ "Phase" | translate : language.lang }}</div>
                            <div class="w-full ">{{ materialRequest.currentPhase }}</div>
                        </div>
                        <div class="flex items-center justify-start  gap-2">
                            <div class="w-40 font-semibold ">{{ "Notes" | translate : language.lang }}</div>
                            <div class="w-full ">{{ materialRequest.notes }}</div>
                        </div>
                    </div>
                </div>
                <div class="w-full  mt-12 overflow-x-auto overflow-y-auto  pt-2">
                    <table class="w-full text-sm text-left rtl:text-right">
                        <thead class="text-xs uppercase text-secondary/50">
                        <tr>
                            @for (col of tableColumns; track $index) {
                                <th scope="col" class="px-6 py-3 min-w-40">
                                    {{ col | translate : language }}
                                </th>
                            }
                        </tr>
                        </thead>
                        <tbody>
                            @for (item of materialRequest.lines; track item.product.id + $index) {

                                <tr
                                        class="bg-white border-b border-secondary/15 hover:bg-secondary/5 text-secondary/80"
                                >
                                    <td class="px-6 py-4">
                                        {{ $index + 1 }}
                                    </td>

                                    <td class="px-6 py-4">
                                        {{
                                            item.product.productNumber + ' - '
                                            + (language.lang == 'ar' ? (item.product.mainBrandAr + ' - ' + item.product.subBrandAr) : (item.product.mainBrandEn + ' - ' + item.product.subBrandEn))
                                        }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ item.quantity }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ item.storeInventory }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ item.product.totalInventory }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ item.notes }}
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>


        </app-main-content>
        <app-history-section [language]="language.lang" [history]="materialRequest.history" />

    }
}
