@if (selectLanguage$ | async; as language){
    <app-main-content
            [language]="language"
            [headerText]="'Supplier Quotations' | translate : language.lang"
            [noDataMessage]="'There is no data to show' | translate : language?.lang"
            [noData]="supplierQuotations.length === 0"
    >
        <div headerActions >
            @if(selectUser$ | async; as userData){
                @if(all){
                    <button
                            (click)="getMyRequests(userData.id)"
                            class="w-40 p-4 my-1 font-medium text-primary  bg-white ms-3 hover:bg-primary/80 hover:text-white border-primary border "
                    >
                        {{ "My Quotations" | translate : language.lang }}
                    </button>

                } @else {
                    <button
                            (click)="getAll()"
                            class="w-40 p-4 my-1 font-medium text-primary  bg-white ms-3 hover:bg-primary/80 hover:text-white border-primary border "
                    >
                        {{ "All" | translate : language.lang }}
                    </button>
                }


            }
                        <button
                                [routerLink]="['/dashboard/purchases/supplier-quotations/create']"
                                class="w-auto p-4 my-1 font-medium text-white  bg-secondary ms-3 hover:bg-secondary/70 hover:border-secondary/70 border border-secondary"
                        >
                            {{ "Add Quotation" | translate : language.lang }}
                        </button>
        </div>
        <div headerSlot>
            <app-search-input
                    [placeholder]="'Search' | translate : language?.lang"
                    (searchChanged)="onSearchChanged({search: $event})"
                    [value]="searchName"
            />
        </div>

        @if (supplierQuotations.length >0) {

            <div contentWithData class="relative w-full h-full p-8 min-h-max">

                <div class="relative my-4 overflow-x-auto overflow-y-auto">
                    <table class="w-full text-sm text-left rtl:text-right">
                        <thead class="text-xs uppercase text-secondary/50">
                        <tr>
                            @for (col of tableColumns; track $index) {
                                <th scope="col" class="px-6 py-3 min-w-40">
                                    {{ col | translate : language.lang }}
                                </th>
                            }
                        </tr>
                        </thead>
                        <tbody >
                            @for ( item of supplierQuotations; track item.id){

                                <tr
                                        [routerLink]="'' + item.id"
                                        class="bg-white border-b border-secondary/15 hover:bg-secondary/5 text-secondary/80 cursor-pointer"
                                >
                                    <td class="px-6 py-4">
                                        {{ item.id }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ item.rfpq.number }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ item.date | date : "dd/MM/yyyy" }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ language.lang == "ar" ? item.supplier.nameAr :item.supplier.nameEn }}
                                    </td>
                                    <td class="px-4 py-2 ">
                                        @if (item.isLocal) {
                                            <svg
                                                    class="w-6 h-6 text-green-500"
                                                    style="color: green !important"
                                                    aria-hidden="true"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    fill="currentColor"
                                                    viewBox="0 0 24 24"
                                            >
                                                <path
                                                        fill-rule="evenodd"
                                                        d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm13.7-1.3a1 1 0 0 0-1.4-1.4L11 12.6l-1.8-1.8a1 1 0 0 0-1.4 1.4l2.5 2.5c.4.4 1 .4 1.4 0l4-4Z"
                                                        clip-rule="evenodd"
                                                />
                                            </svg>

                                        } @else {
                                            <svg
                                                    style="color: red !important"
                                                    class="w-6 h-6 text-red-500"
                                                    aria-hidden="true"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    fill="currentColor"
                                                    viewBox="0 0 24 24"
                                            >
                                                <path
                                                        fill-rule="evenodd"
                                                        d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z"
                                                        clip-rule="evenodd"
                                                />
                                            </svg>

                                        }
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ item.total }} <span class="font-semibold">{{ item.currency.code }}</span>
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ item.user.username }}
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <!--            If there are more than one page -->

                @if (supplierQuotationResponse ) {
                    <app-pagenation
                            [language]="language"
                            [response]="supplierQuotationResponse"
                            [currentPage]="currentPage"
                            [pageArray]="generatePageArray()"
                            [pageable]="pageable"
                            (onPageChanged)="onPageChanged($event)"
                    />
                }
            </div>
        }
    </app-main-content>
}