@if (selectLanguage$ | async; as language) {
    <app-main-content [language]="language" [headerText]="'Create new Machinery Type' | translate: language?.lang"
                      [noDataMessage]="'There is no data to show' | translate: language?.lang" [noData]="false">
        <div headerActions>
            <!--                    [disabled]="!formGroup.valid"-->
            <button
                    (click)="cancelCreateMachineryType()"
                    class="rounded-lg border-danger/80 border -p-1 hover:bg-danger/80 hover:text-white bg-white text-danger/80 font-medium w-40 p-4 my-1 ms-3 disabled:bg-danger/10">
                {{ 'Cancel' | translate: language?.lang }}
            </button>
            <!--                    [disabled]="!formGroup.valid"-->
            <button
                    (click)="onSubmitForm()"
                    class="rounded-lg bg-secondary text-white font-medium w-40 p-4 ms-3 my-1 hover:bg-secondary/70  disabled:bg-secondary/70 ">
                {{ 'Save' | translate: language?.lang }}
            </button>
        </div>
        <div contentWithData class="h-full min-h-max w-full p-8 relative">

            <form [formGroup]="formGroup">
                <div class="mb-5 max-w-96">
                    <label
                            for="nameAr"
                            class="block mb-2 text-sm font-medium text-secondary/90"
                    >{{ "Arabic Name" | translate : language.lang }} <span class="text-danger">*</span></label
                    >
                    <input
                            formControlName="nameAr"
                            type="text"
                            id="nameAr"
                            class="bg-accent/5 border-0  text-secondary/70 text-sm rounded-lg focus:border-0 ring-transparent block w-full p-2.5 "
                    />
                    @if (formGroup.get('nameAr')?.touched && formGroup.get('nameAr')?.errors) {
                        <p class="text-xs text-danger font-light">
                            {{ "Arabic Name" | translate : language.lang }}
                            {{ "has errors" | translate : language.lang }}
                        </p>
                    }
                </div>
                <div class="mb-5  max-w-96">
                    <label
                            for="nameEn"
                            class="block mb-2 text-sm font-medium text-secondary/90"
                    >{{ "English Name" | translate : language.lang }} <span class="text-danger">*</span></label
                    >
                    <input
                            formControlName="nameEn"
                            type="text"
                            id="nameEn"
                            class="bg-accent/5 border-0  text-secondary/70 text-sm rounded-lg focus:border-0 ring-transparent block w-full p-2.5 "
                    />
                    @if (formGroup.get('nameEn')?.touched && formGroup.get('nameEn')?.errors) {
                        <p class="text-xs text-danger font-light">
                            {{ "English Name" | translate : language.lang }}
                            {{ "has errors" | translate : language.lang }}
                        </p>
                    }
                </div>
            </form>

        </div>

    </app-main-content>
}
