@if (selectLanguage$ | async; as language) {
    <app-main-content
            [language]="language"
            [headerText]="'Machinery' | translate : language.lang"
            [noDataMessage]="'There is no data to show' | translate : language?.lang"
            [noData]="false"
    >
        <div headerActions>
            <button
                    [routerLink]="'create'"
                    class="w-40 p-4 my-1 font-medium text-white  bg-secondary ms-3 hover:bg-secondary/70"
            >
                {{ "Add Machine" | translate : language.lang }}
            </button>
        </div>
        <div headerSlot>
            <app-search-input
                    [placeholder]="'Search' | translate : language?.lang"
                    (searchChanged)="onSearchChanged($event)"
                    [value]="searchName"
            />
        </div>
        <div contentWithData class="relative w-full h-full p-8 min-h-max">
            <div class="relative my-4 overflow-x-auto overflow-y-auto">
                <table class="w-full text-sm text-left rtl:text-right">
                    <thead class="text-xs uppercase text-secondary/50">
                    <tr>
                        @for (col of tableColumns; track $index) {
                            <th scope="col" class="px-6 py-3 min-w-40">
                                {{ col | translate : language.lang }}
                            </th>
                        }
                    </tr>
                    </thead>
                    <tbody>
                        @for (item of machinery; track item.id) {

                            <tr
                                    class="bg-white border-b cursor-pointer border-secondary/15 hover:bg-secondary/5 text-secondary/80"
                                    [routerLink]="'' + item.id"
                            >
                                <td class="px-6 py-4">
                                    {{ $index + 1 }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ language.lang == "ar" ? item.nameAr : item.nameEn }}
                                </td>
                                <td class="px-6 py-4">
                                    @if (item.isActive) {
                                        <svg
                                                class="w-6 h-6 text-green-500"
                                                style="color: green !important"
                                                aria-hidden="true"
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor"
                                                viewBox="0 0 24 24"
                                        >
                                            <path
                                                    fill-rule="evenodd"
                                                    d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm13.7-1.3a1 1 0 0 0-1.4-1.4L11 12.6l-1.8-1.8a1 1 0 0 0-1.4 1.4l2.5 2.5c.4.4 1 .4 1.4 0l4-4Z"
                                                    clip-rule="evenodd"
                                            />
                                        </svg>

                                    } @else {
                                        <svg
                                                style="color: red !important"
                                                class="w-6 h-6 text-red-500"
                                                aria-hidden="true"
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor"
                                                viewBox="0 0 24 24"
                                        >
                                            <path
                                                    fill-rule="evenodd"
                                                    d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z"
                                                    clip-rule="evenodd"
                                            />
                                        </svg>

                                    }
                                </td>
                                <td class="px-6 py-4">
                                    {{ item.machineryModels.length }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ item.updatedAt | date : "dd/MM/yyyy" }}
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <!--            If there are more than one page -->
            @if (machineryResponse ) {
                <app-pagenation
                        [language]="language"
                        [response]="machineryResponse"
                        [currentPage]="currentPage"
                        [pageArray]="generatePageArray()"
                        [pageable]="pageable"
                        (onPageChanged)="onPageChanged($event)"
                />
            }
        </div>
    </app-main-content>
}
