<div aria-hidden="true" class="bg-secondary/10 flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full" id="default-modal"
     tabindex="-1">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white  shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    {{ 'Add Sub Brand' | translate : language }}
                </h3>
                <button
                        (click)="OnHideAddLocationModal()"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900  text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="default-modal"
                        type="button">
                    <svg aria-hidden="true" class="w-3 h-3" fill="none" viewBox="0 0 14 14"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round" stroke-width="2"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                <form [formGroup]="formGroup">
                    <div class="mb-5 max-w-9md">
                        <label
                                class="block mb-2 text-sm font-medium text-secondary/90"
                                for="nameAr"
                        >{{ "Arabic Name" | translate : language }} <span
                                class="text-danger">*</span></label
                        >
                        <input
                                class="bg-accent/5 border-0  text-secondary/70 text-sm  focus:border-0 ring-transparent block w-full p-2.5 "
                                formControlName="nameAr"
                                id="nameAr"
                                type="text"
                        />
                        @if (formGroup.get('nameAr')?.touched && formGroup.get('nameAr')?.errors) {
                            <p class="text-xs text-danger font-light">
                                {{ "Arabic Name" | translate : language }}
                                {{ "has errors" | translate : language }}
                            </p>
                        }
                    </div>
                    <div class="mb-5  max-w-9md">
                        <label
                                class="block mb-2 text-sm font-medium text-secondary/90"
                                for="nameEn"
                        >{{ "English Name" | translate : language }} <span
                                class="text-danger">*</span></label
                        >
                        <input
                                class="bg-accent/5 border-0  text-secondary/70 text-sm  focus:border-0 ring-transparent block w-full p-2.5 "
                                formControlName="nameEn"
                                id="nameEn"
                                type="text"
                        />
                        @if (formGroup.get('nameEn')?.touched && formGroup.get('nameEn')?.errors) {
                            <p class="text-xs text-danger font-light">
                                {{ "English Name" | translate : language }}
                                {{ "has errors" | translate : language }}
                            </p>
                        }
                    </div>
                    <div class="mb-5  max-w-9md">
                        <label
                                class="block mb-2 text-sm font-medium text-secondary/90"
                                for="code"
                        >{{ "Brand Code" | translate : language }} <span
                                class="text-danger">*</span></label
                        >
                        <input
                                class="bg-accent/5 border-0  text-secondary/70 text-sm  focus:border-0 ring-transparent block w-full p-2.5 "
                                formControlName="code"
                                id="code"
                                type="text"
                        />
                        @if (formGroup.get('code')?.touched && formGroup.get('code')?.errors) {
                            <p class="text-xs text-danger font-light">
                                {{ "Brand Code" | translate : language }}
                                {{ "has errors" | translate : language }}
                            </p>
                        }
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button
                        (click)="onSubmitForm()"
                        class=" bg-secondary text-white font-medium w-40 p-4 ms-3 my-1 border hover:bg-secondary/70">
                    {{ 'Save' | translate: language }}
                </button>

                <button
                        (click)="OnHideAddLocationModal()"
                        class=" bg-white text-danger font-medium w-40 p-4 ms-3 my-1 border border-danger hover:bg-danger/20">
                    {{ 'Cancel' | translate: language }}
                </button>
            </div>
        </div>
    </div>
</div>