@if (selectLanguage$ | async; as language) {
    <app-main-content [language]="language" [headerText]="'Create new store' | translate: language?.lang"
                      [noDataMessage]="'There is no data to show' | translate: language?.lang" [noData]="false">
        <div headerActions>
<!--                    [disabled]="!formGroup.valid"-->
            <button
                    (click)="cancelCreateStore()"
                    class="rounded-lg border-danger/80 border -p-1 hover:bg-danger/80 hover:text-white bg-white text-danger/80 font-medium w-40 p-4 my-1 ms-3 disabled:bg-danger/10">
                {{ 'Cancel' | translate: language?.lang }}
            </button>
            <button
                    [disabled]="!formGroup.valid"
                    (click)="onSubmitForm()"

                    class="rounded-lg bg-secondary text-white font-medium w-40 p-4 ms-3 my-1 hover:bg-secondary/70  disabled:bg-secondary/70 ">
                {{ 'Save' | translate: language?.lang }}
            </button>
        </div>
        <div contentWithData class="h-full min-h-max w-full p-8 relative">

            <form [formGroup]="formGroup">
                <div class="mb-5 max-w-96">
                    <label
                            for="nameAr"
                            class="block mb-2 text-sm font-medium text-secondary/90"
                    >{{ "Arabic Name" | translate : language.lang }}
                            <span class="text-danger">*</span>
                    </label
                    >
                    <input
                            formControlName="nameAr"
                            type="text"
                            id="nameAr"
                            class="bg-accent/5 border-0  text-secondary/70 text-sm rounded-lg focus:border-0 ring-transparent block w-full p-2.5 "
                    />
                </div>
                <div class="mb-5 max-w-96">
                    <label
                            for="nameEn"
                            class="block mb-2 text-sm font-medium text-secondary/90"
                    >{{ "English Name" | translate : language.lang }}
                        <span class="text-danger">*</span>
                    </label
                    >
                    <input
                            formControlName="nameEn"
                            type="text"
                            id="nameEn"
                            class="bg-accent/5 border-0  text-secondary/70 text-sm rounded-lg focus:border-0 ring-transparent block w-full p-2.5 "
                    />
                </div>
                <div class="mb-5 max-w-96">
                    <label
                            for="cityAr"
                            class="block mb-2 text-sm font-medium text-secondary/90"
                    >{{ "Arabic City Name" | translate : language.lang }}
                        <span class="text-danger">*</span>
                    </label
                    >
                    <input
                            formControlName="cityAr"
                            type="text"
                            id="cityAr"
                            class="bg-accent/5 border-0  text-secondary/70 text-sm rounded-lg focus:border-0 ring-transparent block w-full p-2.5 "
                    />
                </div>
                <div class="mb-5 max-w-96">
                    <label
                            for="cityEn"
                            class="block mb-2 text-sm font-medium text-secondary/90"
                    >{{ "English City Name" | translate : language.lang }}
                        <span class="text-danger">*</span>
                    </label
                    >
                    <input
                            formControlName="cityEn"
                            type="text"
                            id="cityEn"
                            class="bg-accent/5 border-0  text-secondary/70 text-sm rounded-lg focus:border-0 ring-transparent block w-full p-2.5 "
                    />
                </div>


                <label class="inline-flex items-center me-5 cursor-pointer">
                    <input type="checkbox"  class="sr-only peer"   name="isActive"  formControlName="isActive">
                    <div class="relative w-11 h-6 bg-secondary/2s0 rounded-full peer  peer-focus:ring-4 peer-focus:ring-primary/30  peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-secondary/3s0 after:border after:rounded-full after:h-5 after:w-5 after:transition-all  peer-checked:bg-primary/40"></div>
                    <span class="ms-3 text-sm font-medium text-secondary/9s0 ">{{"Active" | translate : language.lang}}</span>
                </label>


            </form>

        </div>

    </app-main-content>
}
