@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&family=Roboto:wght@400;500;700&family=Tajawal:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities; /* You can add global styles to this file, and also import other style files */

@media print {
    /*body :not(.print-area, .print-area > *)  {*/
    /*    display: none;*/
    /*}*/
    /*.print-area, .print-area > *{*/
    /*    display: block;*/
    /*}*/
}

.fade-in-out {
    animation: fadeInOut ease-in-out 700ms;
    -webkit-animation: fadeInOut ease-in-out 700ms;
    -moz-animation: fadeInOut ease-in-out 700ms;
    -o-animation: fadeInOut ease-in-out 700ms;
    -ms-animation: fadeInOut ease-in-out 700ms;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
