@if (selectLanguage$ | async; as language) {
    <app-main-content [language]="language" [headerText]="'Create new Product part' | translate: language?.lang"
                      [noDataMessage]="'There is no data to show' | translate: language?.lang" [noData]="false">
        <div headerActions>
            <!--                    [disabled]="!formGroup.valid"valid-->
            <button
                    (click)="cancelCreateProduct()"
                    class="rounded-lg border-danger/80 border -p-1 hover:bg-danger/80 hover:text-white bg-white text-danger/80 font-medium w-40 p-4 my-1 ms-3 disabled:bg-danger/10">
                {{ 'Cancel' | translate: language?.lang }}
            </button>
            <!--                    [disabled]="!formGroup.valid"-->
            <button
                    (click)="onSubmitForm()"

                    class="rounded-lg bg-secondary text-white font-medium w-40 p-4 ms-3 my-1 hover:bg-secondary/70  disabled:bg-secondary/70 ">
                {{ 'Save' | translate: language?.lang }}
            </button>
        </div>
        <div contentWithData class="h-full min-h-max w-full p-8 relative">

            <form [formGroup]="formGroup">
                <div class="flex items-start justify-start gap-2">
                    <div class="flex flex-col w-full max-w-md">

                        <div class="mb-5 max-w-96">
                            <label
                                    for="productNumber"
                                    class="block mb-2 text-sm font-medium text-secondary/90"
                            >{{ "Product Number" | translate : language.lang }} <span
                                    class="text-danger">*</span></label
                            >
                            <input
                                    formControlName="productNumber"
                                    type="text"
                                    id="productNumber"
                                    class="bg-accent/5 border-0  text-secondary/70 text-sm rounded-lg focus:border-0 ring-transparent block w-full p-2.5 "
                            />
                            @if (formGroup.get('productNumber')?.touched && formGroup.get('productNumber')?.errors) {
                                <p class="text-xs text-danger font-light">
                                    {{ "Product Number" | translate : language.lang }}
                                    {{ "has errors" | translate : language.lang }}
                                </p>
                            }

                        </div>

                        <div class="mb-5 max-w-96">
                            <label
                                    for="descriptionAr"
                                    class="block mb-2 text-sm font-medium text-secondary/90"
                            >{{ "Arabic Description" | translate : language.lang }} <span
                                    class="text-danger">*</span></label
                            >
                            <input
                                    formControlName="descriptionAr"
                                    type="text"
                                    id="descriptionAr"
                                    class="bg-accent/5 border-0  text-secondary/70 text-sm rounded-lg focus:border-0 ring-transparent block w-full p-2.5 "
                            />
                            @if (formGroup.get('descriptionAr')?.touched && formGroup.get('descriptionAr')?.errors) {
                                <p class="text-xs text-danger ">
                                    {{ "Arabic Description" | translate : language.lang }}
                                    {{ "has errors" | translate : language.lang }}
                                </p>
                            }
                        </div>
                        <div class="mb-5 max-w-96">
                            <label
                                    for="descriptionEn"
                                    class="block mb-2 text-sm font-medium text-secondary/90"
                            >{{ "English Description" | translate : language.lang }} <span class="text-danger">*</span></label
                            >
                            <input
                                    formControlName="descriptionEn"
                                    type="text"
                                    id="descriptionEn"
                                    class="bg-accent/5 border-0  text-secondary/70 text-sm rounded-lg focus:border-0 ring-transparent block w-full p-2.5 "
                            />
                            @if (formGroup.get('descriptionEn')?.touched && formGroup.get('descriptionEn')?.errors) {
                                <p class="text-xs text-danger ">
                                    {{ "English Description" | translate : language.lang }}
                                    {{ "has errors" | translate : language.lang }}
                                </p>
                            }
                        </div>
                        <div class="mb-5 max-w-96">
                            <label class="block mb-2 text-sm font-medium  dark:text-white"
                                   for="image">{{ "Product Image" | translate : language.lang }}</label>
                            <input
                                    formControlName="image"
                                    class="block w-full text-sm  border-0 border-secondary/30 rounded-lg cursor-pointer bg-secondary/5 focus:outline-none "
                                    id="image" type="file"
                                    (change)="onProductImageChange($event)"
                            >
                            @if (formGroup.get('image')?.value != '' && formGroup.get('image')?.value != null) {
                                <div class="flex items-center justify-start gap-1.5 text-xs">
                                    @if (productImageUploadProgress == 100) {
                                        {{ "completed" | translate : language.lang }}
                                    } @else {
                                        {{ "uploading..." | translate : language.lang }}
                                    }
                                    <div class="w-full bg-secondary/10 rounded-full h-1.5 my-2  flex-1">
                                        <div class="bg-primary/80 h-1.5 rounded-full "
                                             [style]="'width: '+productImageUploadProgress+'%'"></div>
                                    </div>
                                </div>
                            }

                            @if (formGroup.get('image')?.touched && formGroup.get('image')?.errors) {
                                <p class="text-xs text-danger ">
                                    {{ "Product Image" | translate : language.lang }}
                                    {{ "has errors" | translate : language.lang }}
                                </p>
                            }
                        </div>
                        <div class="mb-5 max-w-96">
                            <label class="block mb-2 text-sm font-medium  dark:text-white"
                                   for="partImage">{{ "Machine Part Image" | translate : language.lang }}</label>
                            <input
                                    formControlName="partImage"
                                    class="block w-full text-sm  border-0 border-secondary/30 rounded-lg cursor-pointer bg-secondary/5 focus:outline-none "
                                    id="partImage" type="file"
                                    (change)="onMachinePartImageChange($event)"
                            >
                            @if (formGroup.get('partImage')?.value != '' && formGroup.get('partImage')?.value != null) {
                                <div class="flex items-center justify-start gap-1.5 text-xs">
                                    @if (partImageUploadProgress == 100) {
                                        {{ "completed" | translate : language.lang }}
                                    } @else {
                                        {{ "uploading..." | translate : language.lang }}
                                    }
                                    <div class="w-full bg-secondary/10 rounded-full h-1.5 my-2  flex-1">
                                        <div class="bg-primary/80 h-1.5 rounded-full "
                                             [style]="'width: '+partImageUploadProgress+'%'"></div>
                                    </div>
                                </div>
                            }
                            @if (formGroup.get('partImage')?.touched && formGroup.get('partImage')?.errors) {
                                <p class="text-xs text-danger ">
                                    {{ "Machine Part Image" | translate : language.lang }}
                                    {{ "has errors" | translate : language.lang }}
                                </p>
                            }
                        </div>
                        <div class="mb-5 max-w-96">
                            <label
                                    for="minQuantity"
                                    class="block mb-2 text-sm font-medium text-secondary/90"
                            >{{ "Minimum Quantity" | translate : language.lang }} <span
                                    class="text-danger">*</span></label
                            >
                            <input
                                    formControlName="minQuantity"
                                    type="number"
                                    id="minQuantity"
                                    min="0"
                                    class="bg-accent/5 border-0  text-secondary/70 text-sm rounded-lg focus:border-0 ring-transparent block w-full p-2.5 "
                            />
                            @if (formGroup.get('minQuantity')?.touched && formGroup.get('minQuantity')?.errors) {
                                <p class="text-xs text-danger ">
                                    {{ "Minimum Quantity" | translate : language.lang }}
                                    {{ "has errors" | translate : language.lang }}
                                </p>
                            }
                        </div>
                        <div class="mb-5 max-w-96">
                            <label
                                    for="minQuantity"
                                    class="block mb-2 text-sm font-medium text-secondary/90"
                            >{{ "Sell Quantity Limit" | translate : language.lang }} <span
                                    class="text-danger">*</span></label
                            >
                            <input
                                    formControlName="sellQuantity"
                                    type="number"
                                    id="sellQuantity"
                                    min="0"
                                    class="bg-accent/5 border-0  text-secondary/70 text-sm rounded-lg focus:border-0 ring-transparent block w-full p-2.5 "
                            />
                            @if (formGroup.get('sellQuantity')?.touched && formGroup.get('sellQuantity')?.errors) {
                                <p class="text-xs text-danger ">
                                    {{ "Sell Quantity Limit" | translate : language.lang }}
                                    {{ "has errors" | translate : language.lang }}
                                </p>
                            }
                        </div>
                        <div class="mb-5 max-w-96">
                            <label
                                    for="sellIndividual"
                                    class="block mb-2 text-sm font-medium text-secondary/90"
                            >{{ "Sell individual rate" | translate : language.lang }} <span
                                    class="text-danger">*</span></label
                            >
                            <input
                                    formControlName="sellIndividual"
                                    type="number"
                                    id="sellIndividual"
                                    min="0"
                                    class="bg-accent/5 border-0  text-secondary/70 text-sm rounded-lg focus:border-0 ring-transparent block w-full p-2.5 "
                            />
                            @if (formGroup.get('sellIndividual')?.touched && formGroup.get('sellIndividual')?.errors) {
                                <p class="text-xs text-danger ">
                                    {{ "Sell individual rate" | translate : language.lang }}
                                    {{ "has errors" | translate : language.lang }}
                                </p>
                            }
                        </div>
                        <div class="mb-5 max-w-96">
                            <label
                                    for="buyQuantity"
                                    class="block mb-2 text-sm font-medium text-secondary/90"
                            >{{ "Buy Quantity Limit" | translate : language.lang }} <span
                                    class="text-danger">*</span></label
                            >
                            <input
                                    formControlName="buyQuantity"
                                    type="number"
                                    id="buyQuantity"
                                    min="0"
                                    class="bg-accent/5 border-0  text-secondary/70 text-sm rounded-lg focus:border-0 ring-transparent block w-full p-2.5 "
                            />
                            @if (formGroup.get('buyQuantity')?.touched && formGroup.get('buyQuantity')?.errors) {
                                <p class="text-xs text-danger ">
                                    {{ "Buy Quantity Limit" | translate : language.lang }}
                                    {{ "has errors" | translate : language.lang }}
                                </p>
                            }
                        </div>
                        <div class="mb-5 max-w-96">
                            <label
                                    for="buyIndividual"
                                    class="block mb-2 text-sm font-medium text-secondary/90"
                            >{{ "Buy individual rate" | translate : language.lang }} <span
                                    class="text-danger">*</span></label
                            >
                            <input
                                    formControlName="buyIndividual"
                                    type="number"
                                    id="buyIndividual"
                                    min="0"
                                    class="bg-accent/5 border-0  text-secondary/70 text-sm rounded-lg focus:border-0 ring-transparent block w-full p-2.5 "
                            />
                            @if (formGroup.get('buyIndividual')?.touched && formGroup.get('buyIndividual')?.errors) {
                                <p class="text-xs text-danger ">
                                    {{ "Buy individual rate" | translate : language.lang }}
                                    {{ "has errors" | translate : language.lang }}
                                </p>
                            }
                        </div>
                        <div class="mb-5 max-w-96">
                            <label class="inline-flex items-center cursor-pointer">
                                <input
                                        formControlName="isOriginal"
                                        type="checkbox" class="sr-only peer">
                                <div
                                        class="relative w-11 h-6 bg-secondary/5 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-primary/30 dark:peer-focus:ring-primary/80 rounded-full peer dark:bg-secondary/70 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-secondary/30 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-secondary/60 peer-checked:bg-primary/60"></div>
                                <span class="ms-3 text-sm font-medium  ">{{ "Is Original" | translate : language.lang }}</span>
                            </label>
                        </div>
                        <div class="mb-5 max-w-96 flex gap-2">

                            <div class="w-full flex items-center ps-4 border-0 bg-secondary/5 border-secondary/20 rounded dark:border-secondary/70"
                                 (click)="hideSelectSetItemsModal()">
                                <input id="bordered-radio-1" formControlName="unit" type="radio" value="PIECE"
                                       name="unit"
                                       class="w-4 h-4 text-primary/60 bg-secondary/10 border-secondary/30 focus:ring-primary/50 dark:focus:ring-primary/60 dark:ring-offset-secondary/80 focus:ring-2 dark:bg-secondary/70 dark:border-secondary/60">
                                <label for="bordered-radio-1"
                                       class="w-full py-4 ms-2 text-sm font-medium  ">{{ "Sell As Piece" | translate : language.lang }}</label>
                            </div>
                            <div class="w-full flex items-center ps-4 border-0 bg-secondary/5 border-secondary/20 rounded dark:border-secondary/70"
                                 (click)="onSelectIsSet()">
                                <input checked id="bordered-radio-2" formControlName="unit" type="radio" value="SET"
                                       name="unit"
                                       class="w-4 h-4 text-primary/60 bg-secondary/10 border-secondary/30 focus:ring-primary/50 dark:focus:ring-primary/60 dark:ring-offset-secondary/80 focus:ring-2 dark:bg-secondary/70 dark:border-secondary/60">
                                <label for="bordered-radio-2"
                                       class="w-full py-4 ms-2 text-sm font-medium  ">
                                    {{ "Sell As Set" | translate : language.lang }}
                                    @if (productSets.length > 0) {

                                        <br/>
                                        {{ productSets.length }} {{ "Products" | translate : language.lang }}
                                    }
                                </label>
                            </div>
                        </div>
                        @if (showSelectSetItemsModal) {
                            <app-select-set-items-modal
                                    (hideModal)="hideSelectSetItemsModal()"
                                    (submitProductSet)="onSubmitProductSet($event)"
                                    [language]="language.lang"/>
                        }



                    </div>
                    <div class="flex flex-col w-full max-w-md">
                        <div class="mb-5 max-w-96">
                            <label
                                    class="block mb-2 text-sm font-medium text-secondary/90 dark:text-white"
                            > {{ 'Machine Part' | translate: language?.lang }}</label>
                            <app-select-with-search
                                    [language]="language.lang"
                                    (searchInput)="searchMachineParts($event)"
                                    [searchOptions]="machinePartOptions$ | async"
                                    (selectedItem)="onItemSelected($event,'machinePart')"
                            />
                            @if (formGroup.get('machinePart')?.touched && formGroup.get('machinePart')?.errors) {
                                <p class="text-xs text-danger ">
                                    {{ "Machine Part" | translate : language.lang }}
                                    {{ "has errors" | translate : language.lang }}
                                </p>
                            }
                        </div>
                        <div class="mb-5 max-w-96">
                            <label
                                    class="block mb-2 text-sm font-medium text-secondary/90 dark:text-white"
                            > {{ 'Main Brand' | translate: language?.lang }}</label>
                            <app-select-with-search
                                    [language]="language.lang"
                                    (searchInput)="searchBrands($event)"
                                    [searchOptions]="brandOptions$ | async"
                                    (selectedItem)="onItemSelected($event,'mainBrand')"
                            />
                            @if (formGroup.get('mainBrand')?.touched && formGroup.get('mainBrand')?.errors) {
                                <p class="text-xs text-danger ">
                                    {{ "Main Brand" | translate : language.lang }}
                                    {{ "has errors" | translate : language.lang }}
                                </p>
                            }
                        </div>
                        <div class="mb-5 max-w-96">
                            <label
                                    class="block mb-2 text-sm font-medium text-secondary/90 dark:text-white"
                            > {{ 'Sub Brand' | translate: language?.lang }}</label>
                            <!--                                    (searchInput)="searchBrands($event)"-->
                            @if (refreshSubBrand) {

                                <app-select-with-search
                                        [language]="language.lang"
                                        [searchOptions]="subBrandOptions$ | async"
                                        (selectedItem)="onItemSelected($event,'subBrand')"
                                        [inputValue]=""
                                />
                            }
                            @if (formGroup.get('subBrand')?.touched && formGroup.get('subBrand')?.errors) {
                                <p class="text-xs text-danger ">
                                    {{ "Sub Brand" | translate : language.lang }}
                                    {{ "has errors" | translate : language.lang }}
                                </p>
                            }

                        </div>
                        <div class="mb-5 max-w-96">
                            <label
                                    class="block mb-2 text-sm font-medium text-secondary/90 dark:text-white"
                            > {{ 'Machinery' | translate: language?.lang }}</label>
                            <app-select-with-search
                                    [language]="language.lang"
                                    (searchInput)="searchMachinery($event)"
                                    [searchOptions]="machineryOptions$ | async"
                                    (selectedItem)="onItemSelected($event,'machineryType')"
                            />
                            @if (formGroup.get('machineryType')?.touched && formGroup.get('machineryType')?.errors) {
                                <p class="text-xs text-danger ">
                                    {{ "Machinery" | translate : language.lang }}
                                    {{ "has errors" | translate : language.lang }}
                                </p>
                            }
                        </div>
                        <div class="mb-5 max-w-96">
                            <label
                                    class="block mb-2 text-sm font-medium text-secondary/90 dark:text-white"
                            > {{ 'Machinery Model' | translate: language?.lang }}</label>
                            <!--                                    (searchInput)="searchBrands($event)"-->
                            @if (refreshMachineryModel) {

                                <app-select-with-search
                                        [language]="language.lang"
                                        [searchOptions]="machineryModelOptions$ | async"
                                        (selectedItem)="onItemSelected($event,'machineryModel')"
                                        [inputValue]=""
                                />
                            }
                            @if (formGroup.get('machineryModel')?.touched && formGroup.get('machineryModel')?.errors) {
                                <p class="text-xs text-danger ">
                                    {{ "Machinery Model" | translate : language.lang }}
                                    {{ "has errors" | translate : language.lang }}
                                </p>
                            }

                        </div>



                        <div class="mb-5 max-w-96">
                            <label
                                    class="block mb-2 text-sm font-medium text-secondary/90 dark:text-white"
                            > {{ 'Country' | translate: language?.lang }}</label>
                            <app-select-with-search
                                    [language]="language.lang"
                                    (searchInput)="searchCountries($event)"
                                    [searchOptions]="countryOptions$ | async"
                                    (selectedItem)="onItemSelected($event,'country')"
                            />
                            @if (formGroup.get('country')?.touched && formGroup.get('country')?.errors) {
                                <p class="text-xs text-danger ">
                                    {{ "Country" | translate : language.lang }}
                                    {{ "has errors" | translate : language.lang }}
                                </p>
                            }
                        </div>
                        <div class="mb-5 max-w-96 flex gap-2">

                            <div class="w-full flex items-center ps-4 border bg-withe border-primary/70 rounded cursor-pointer hover:bg-primary/20"
                                 (click)="showSelectAlternatives = true">
                                <label
                                        class="w-full py-4  text-lg font-semibold  text-primary text-center cursor-pointer">
                                    {{ "Add Alternatives" | translate : language.lang }}
                                    @if (alternatives.length > 0) {

                                        <br/>
                                        {{ alternatives.length }} {{ "Products" | translate : language.lang }}
                                    }

                                </label>
                            </div>
                        </div>

                        @if (showSelectAlternatives) {
                            <app-select-alternative-modal
                                    (hideModal)="hideSelectAlternatives()"
                                    (submitProductSet)="onSubmitAlternatives($event)"
                                    [language]="language.lang"/>
                        }

                        <div class="mb-5 max-w-96 flex gap-2">

                            <div class="w-full flex items-center ps-4 border bg-withe border-primary/70 rounded cursor-pointer hover:bg-primary/20"
                                 (click)="showSelectRelated = true">
                                <label
                                        class="w-full py-4  text-lg font-semibold  text-primary text-center cursor-pointer">
                                    {{ "Add Related Items" | translate : language.lang }}
                                    @if (related.length > 0) {
                                        <br/>
                                        {{ related.length }} {{ "Products" | translate : language.lang }}
                                    }
                                </label>
                            </div>
                        </div>

                        @if (showSelectRelated) {
                            <app-select-alternative-modal
                                    (hideModal)="hideSelectRelated()"
                                    (submitProductSet)="onSubmitRelated($event)"
                                    [language]="language.lang"
                                    [showIsRestricted] = 'true'
                            />
                        }


                        <!--                        <div class="mb-5 max-w-96">-->
<!--                            <label-->
<!--                                    class="block mb-2 text-sm font-medium text-secondary/90 dark:text-white"-->
<!--                            > {{ 'Country' | translate: language?.lang }}</label>-->
<!--                            <app-select-with-search-->
<!--                                    [language]="language.lang"-->
<!--                                    (searchInput)="searchCountries($event)"-->
<!--                                    [searchOptions]="countryOptions$ | async"-->
<!--                                    (selectedItem)="onItemSelected($event,'country')"-->
<!--                            />-->
<!--                            @if (formGroup.get('country')?.touched && formGroup.get('country')?.errors) {-->
<!--                                <p class="text-xs text-danger ">-->
<!--                                    {{ "Country" | translate : language.lang }}-->
<!--                                    {{ "has errors" | translate : language.lang }}-->
<!--                                </p>-->
<!--                            }-->
<!--                        </div>-->

                    </div>
                </div>
            </form>
        </div>
    </app-main-content>

    <div id="successModal" tabindex="-1" aria-hidden="true"
         [class]=" 'bg-secondary/10 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full ' + (showSuccessModal ? 'flex':'hidden')"

    >
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <!--                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">-->
                <!--                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">-->
                <!--                        Terms of Service-->
                <!--                    </h3>-->
                <!--                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">-->
                <!--                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">-->
                <!--                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>-->
                <!--                        </svg>-->
                <!--                        <span class="sr-only">Close modal</span>-->
                <!--                    </button>-->
                <!--                </div>-->
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4 ">
                    <p class=" leading-relaxed text-secondary/50  w-full text-center py-12 text-2xl">
                        {{ 'Product added successfully' | translate : language.lang }}
                        <br/>
                        {{ 'Add opening balance' | translate : language.lang }}

                    </p>
                    <div class="flex w-full items-center justify-center">
                        <button
                                (click)="goToAddStock()"
                                class="rounded-lg bg-secondary text-white font-medium w-40 p-4 ms-3 my-1 border hover:bg-secondary/70">
                            {{ 'Add' | translate: language }}
                        </button>

                        <button
                                (click)="goToProducts()"
                                class="rounded-lg bg-white text-danger font-medium w-40 p-4 ms-3 my-1 border border-danger hover:bg-danger/20">
                            {{ 'Cancel' | translate: language }}
                        </button>
                    </div>
                </div>
                <!-- Modal footer -->
                <!--                <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">-->
                <!--                    <button data-modal-hide="default-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>-->
                <!--                    <button data-modal-hide="default-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Decline</button>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
}
