@if (selectLanguage$ | async; as language){
    <app-main-content
            [language]="language"
            [headerText]="'Products' | translate : language.lang"
            [noDataMessage]="'There is no data to show' | translate : language?.lang"
            [noData]="products.length === 0"
    >
        <div headerActions >
            <button
                    [routerLink]="'create'"
                    class="w-40 p-4 my-1 font-medium text-white  bg-secondary ms-3 hover:bg-secondary/70"
            >
                {{ "Add Product" | translate : language.lang }}
            </button>
        </div>
            <div headerSlot>
                <app-search-input
                        [placeholder]="'Search' | translate : language?.lang"
                        (searchChanged)="onSearchChanged($event)"
                        [value]="searchName"
                />
            </div>

        @if (products.length >0) {

            <div contentWithData class="relative w-full h-full p-8 min-h-max">

            <div class="relative my-4 overflow-x-auto overflow-y-auto">
                <table class="w-full text-sm text-left rtl:text-right">
                    <thead class="text-xs uppercase text-secondary/50">
                    <tr>
                        @for (col of tableColumns; track $index) {
                            <th scope="col" class="px-6 py-3 min-w-40">
                                {{ col | translate : language.lang }}
                            </th>
                        }
                    </tr>
                    </thead>
                    <tbody>
                        @for ( item of products; track item.id){

                            <tr
                                    [routerLink]="'' + item.id"
                                    class="bg-white border-b border-secondary/15 hover:bg-secondary/5 text-secondary/80 cursor-pointer"
                            >
                                <td class="px-6 py-4">
                                    {{ item.productNumber }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ language.lang == "ar" ? item.mainBrand.nameAr :item.mainBrand.nameEn }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ language.lang == "ar" ? item.subBrand.nameAr :item.subBrand.nameEn }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ language.lang == "ar" ? item.country.nameAr :item.country.nameEn }}
                                </td>
                                <td class="px-6 py-4">
                                    @if (item.isOriginal) {
                                        <svg
                                                class="w-6 h-6 text-green-500"
                                                style="color: green !important"
                                                aria-hidden="true"
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor"
                                                viewBox="0 0 24 24"
                                        >
                                            <path
                                                    fill-rule="evenodd"
                                                    d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm13.7-1.3a1 1 0 0 0-1.4-1.4L11 12.6l-1.8-1.8a1 1 0 0 0-1.4 1.4l2.5 2.5c.4.4 1 .4 1.4 0l4-4Z"
                                                    clip-rule="evenodd"
                                            />
                                        </svg>

                                    }@else {
                                        <svg
                                                style="color: red !important"
                                                class="w-6 h-6 text-red-500"
                                                aria-hidden="true"
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor"
                                                viewBox="0 0 24 24"
                                        >
                                            <path
                                                    fill-rule="evenodd"
                                                    d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z"
                                                    clip-rule="evenodd"
                                            />
                                        </svg>

                                    }
                                </td>
                                <td class="px-6 py-4">
                                    {{ item.unit }}
                                </td>
                                <td
                                    [class]="  ( item.minQuantity == item.totalInventory? 'bg-primary/20': item.minQuantity > item.totalInventory ? ' bg-danger/20 ':  item.minQuantity < item.totalInventory ? ' bg-green-200 ':'bg-secondary/20') + ' px-6    py-4 '"
                                >
                                    {{ item.totalInventory || 0 }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ item.updatedAt | date : "dd/MM/yyyy" }}
                                </td>

<!--                                <td class="flex items-center px-6 py-4">-->
<!--                                    <svg-->
<!--                                            xmlns="http://www.w3.org/2000/svg"-->
<!--                                            fill="none"-->
<!--                                            viewBox="0 0 24 24"-->
<!--                                            stroke-width="1.5"-->
<!--                                            stroke="currentColor"-->
<!--                                            class="w-6 h-6 cursor-pointer text-accent ms-3"-->
<!--                                    >-->
<!--                                        <path-->
<!--                                                stroke-linecap="round"-->
<!--                                                stroke-linejoin="round"-->
<!--                                                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"-->
<!--                                        />-->
<!--                                    </svg>-->

<!--                                    <svg-->
<!--                                            [routerLink]="'' + item.id"-->
<!--                                            class="w-6 h-6 cursor-pointer text-primary ms-3"-->
<!--                                            aria-hidden="true"-->
<!--                                            xmlns="http://www.w3.org/2000/svg"-->
<!--                                            fill="none"-->
<!--                                            viewBox="0 0 24 24"-->
<!--                                    >-->
<!--                                        <path-->
<!--                                                stroke="currentColor"-->
<!--                                                stroke-width="2"-->
<!--                                                d="M21 12c0 1.2-4 6-9 6s-9-4.8-9-6c0-1.2 4-6 9-6s9 4.8 9 6Z"-->
<!--                                        />-->
<!--                                        <path-->
<!--                                                stroke="currentColor"-->
<!--                                                stroke-width="2"-->
<!--                                                d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"-->
<!--                                        />-->
<!--                                    </svg>-->
<!--                                </td>-->
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

                <!--            If there are more than one page -->
     
                @if (productsResponse ) {
                    <app-pagenation
                            [language]="language"
                            [response]="productsResponse"
                            [currentPage]="currentPage"
                            [pageArray]="generatePageArray()"
                            [pageable]="pageable"
                            (onPageChanged)="onPageChanged($event)"
                    />
                }
            </div>
        }
    </app-main-content>
}
